.sort_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(37, 24, 13);
    font-size: larger;
    font-weight: bolder;
    padding: 1vw;
    width: fit-content;
    margin: auto;
}

.my_coupons__sort_button {
    background-color: rgb(79, 21, 21);
    color: rgb(246, 161, 161);
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
}

.my_coupons__sort_button:hover {
    color: rgb(255, 186, 186);
}

.MuiInputBase-root {
    width: 60px !important;
    color: pink !important;
}

.css-13vpke-MuiSlider-root {
    color: pink !important;
}

.MuiInputBase-input {
    color: pink !important;

}

.MuiInputBase-root button {
    color: aqua !important;
}

@media (max-width: 768px) {
    .my_coupons__sort_button {
        margin: 5px;
        padding: 10px;
    }
}