
.svgImage{
    max-width: 25px;
    max-height: 25px;
}

.sliderBox{
    margin-top: 1vw;
    padding: 1vw;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    background-color: rgb(79, 21, 21);
    color: rgb(255, 186, 186);
    border-radius: 8px;
}