.Menu {
	height: 5vw;
    min-height: 30px;
    background-color: rgb(79, 21, 21);
    align-items: center;
    font-size: larger;
    justify-content: space-evenly;
    display: flex;
}

.nuv_link{
    text-decoration: none; 
    color: rgb(255, 186, 186);

}

.active{ /* for selected link in menu*/
    text-decoration: none; 
    color: rgb(218, 42, 98);
    
}
