.EditCompany {}


.edit_company__buttons {
    font-size: 18px;
    padding: 10px;
    font-weight: 700;
    background-color: bisque;
    margin-bottom: 40px;
}

.edit_company__title {
    color: rgb(114, 17, 17);
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    width: 300px;
    text-align: center;
    margin-bottom: 30px;    
}

.edit_company__span {
    color: rgb(114, 17, 17);

}

.edit_company__details {
    background-color: rgb(242, 206, 163);
    padding: 3vw;
    border-radius: 20px;
}

.edit_company__input {
    font-size: 16px !important;
    padding: 10px;
    background-color: bisque;
    width: 92.5% !important;
    justify-self: center;
}

.edit_company__input_disabled {
    background-color: rgb(221, 197, 167);
}

.edit_company__form {
    min-width: 27vw;
    display: grid;
    grid-template-areas:
        "A A A"
        "B B B"
        "C C C"
        "D D D"
        "E F G"
    ;
    column-gap: 5%;
    row-gap: 3%;
}

.grid_A {
    grid-area: A;
}

.grid_B {
    grid-area: B;
}

.grid_C {
    grid-area: C;
}

.grid_D {
    grid-area: D;
}

.grid_E {
    grid-area: E;
}

.grid_F {
    grid-area: F;
}

.grid_G {
    grid-area: G;
}

@media (max-width: 768px) {
    .edit_company__input {
        padding: 10px;
        border-radius: 5px;
    }

    .EditCompany {
        width: 90vw;
        max-width: 500px;
    }

    .edit_company__title {
        width: 250px;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .edit_company__buttons {
        margin-bottom: 100px;
        margin: 0;
    }

    .edit_company__form {
        row-gap: 20px;
    }
}