.OpenAiChat {
    z-index: 1;
    
}

.openAi_chat__div {
    border-radius: 0 100px 100px 0;
    border: 2px solid rgb(255, 226, 192);
    background-color: rgb(254, 238, 219);
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;

    position: fixed;
    left: -148px;
    top: 88%;
    opacity: 0.75;
    transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out, height 0.2s ease-in-out, padding 0.2s ease-in-out, top 0.2s ease-in-out;
}

.openAi_chat__div:hover {
    opacity: 1;
    border: 2px solid rgb(79, 21, 21);
    background-color: rgb(255, 226, 192);
    box-shadow: 0 0 1.5px 1.5px rgb(79, 21, 21);
    height: 60px;
    padding: 5px;
    cursor: pointer;
    top: 87.5%;
}

.openAi_chat__div--onClick {
    width: 350px;
    height: 47%;
    opacity: 1;
    border: 2px solid rgb(79, 21, 21);
    border-left: none;
    background-color: rgb(255, 226, 192);
    box-shadow: 0 0 1.5px 1.5px rgb(79, 21, 21);
    border-radius: 0 15px 15px 0;
    padding: 10px;
    box-sizing: border-box;

    position: fixed;
    top: 51%;
    left: 0;
    transition: all 0.3s ease-in-out;

    
}

.openAi_chat__div--expand {
    width: 95%;
    height: 60%;
    opacity: 1;
    border: 2px solid rgb(79, 21, 21);
    border-left: none;
    background-color: rgb(255, 226, 192);
    box-shadow: 0 0 1.5px 1.5px rgb(79, 21, 21);
    border-radius: 0 15px 15px 0;
    padding: 10px;
    box-sizing: border-box;

    position: fixed;
    top: 38%;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.openAi_chat__div__svg--closed {
    width: 50px;
    height: 50px;
    margin: 4px;
}

.openAi_chat__div__svg--opened {
    width: 30px;
    height: 30px;
    padding-right: 10px;
    margin-top: 3px;

}

.openAi_chat__div__title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: rgb(79, 21, 21);
    margin: 0;
    grid-area: title;
}

.openAi_chat__body--opend {
    height: 100%;
    
}

.openAi_chat__textarea {
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    padding: 10px;
    background-color: rgb(254, 238, 219);
    overflow: visible;
    color: rgb(79, 21, 21);
    resize: none;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 1px;
}

.openAi_chat__textarea:focus {
    outline: 1.5px solid rgb(79,21,21);  

}

.openAi_chat__grid {
    display: grid;
    grid-template-rows: 15% auto 10%;
    box-sizing: border-box;
    grid-template-areas:
        "HISTORY HISTORY HISTORY"
        "Resp Resp Resp"
        "Textarea Textarea Button"
        
    ;
    column-gap: 5px;
    row-gap: 5px;

}

.openAi_chat__controls_buttons{
    max-width: 60px;
    grid-area: CB;
    display: flex;
    flex-direction: row;
    justify-self: end;
}


.openAi_chat__grid_openAi_image {
    grid-area: image;
}

.openAi_chat__grid_textarea {
    grid-area: Textarea;
}

.openAi_chat__conversation{
    grid-area: HISTORY;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    background-color: aquamarine;
}

.openAi_chat__question{
    padding-bottom: 10px;
    width: fit-content;
    background-color: rgb(242, 206, 163);
    color: rgb(79,21,21);  
    max-width: 80%;
    border-radius: 10px;
    padding: 20px 20px 20px 15px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    align-self: flex-start;
}

.openAi_chat__answer{
    width: fit-content;
    background-color: rgb(247, 216, 177);
    color: rgb(79,21,21);  
    max-width: 80%;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    align-self: flex-end;
    padding: 20px 15px 20px 20px;

}

.openAi_chat__chat_list{
    grid-area: CHAT;
}

.openAi_chat__grid_send_button {
    grid-area: Button;
    width: 35px !important;
    height: 35px !important;
    justify-self: center;
    align-self: center;
   
}


.openAi_chat__grid_response {
    grid-area: Resp;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    padding: 10px;
    background-color: rgb(254, 238, 219);
    /* overflow: hidden; */
    resize: none;
    color: rgb(79, 21, 21);
    /* overflow: scroll; */
    width: 80%;
    margin-left: 20%;
}


.openAi_chat__svg_button {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: padding 0.3s ease-in-out;
}

.openAi_chat__svg_button:hover {
    padding: 2px;
    box-sizing: border-box;
}

.openAi_chat__control_buttons {
    display: flex;
    justify-content: end;
    width: 25%;
}

.openAi_chat__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}