.UserProfile {
	width: fit-content;
    margin: auto;
    margin-top: 15vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: larger;

}

p{
    font-weight: bold;
    font-size: larger;
    font-family: robo;
}
 
.user_profile__buttons{
    font-size: 20px;
    padding: 12px;
    font-weight: 700;
    margin: 10px;
    color: rgb(114, 17, 17);

}


.user_propile_p{
    color: rgb(114, 17, 17);
    font-weight: 800;
    font-size: 28px;
    margin-top: 0;
}

.user_profile__span{
    color: rgb(114, 17, 17);
}