.CompanyDetails {
    display: flex;
    justify-content: center;
    margin-top: 7vw;
}

.details {
    border-radius: 8px;
}

 
.company_details__buttons {
    font-size: 18px;
    padding: 10px;
    font-weight: 700;
    margin: 7px;
    background-color: bisque;

}

.company_details__details {
    background-color: rgb(242, 206, 163);
    padding: 3vw;
    border-radius: 20px;
}

.company_details__title {
    color: rgb(114, 17, 17);
    font-size: 28px;
    font-weight: 700;
    margin-left: 16.5% !important;
    margin-top: 0;
}

.company_details__span {
    color: rgb(114, 17, 17);
}