.Cards {
	display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 1fr 1fr;
    gap: 1.5vw;
    justify-content: center;
    margin-top: 2%;
}

.selectButton{
    padding: 10px;
    background-color: rgb(79, 21, 21);
    color: rgb(255, 186, 186);
    margin-top: 1vw;
    margin-left: 42.5vw;
    display: inline-block;
    width: 15vw;
    height: 5.5vw;
    text-align: center;
    border-radius: 8px;
    font-size: medium;
}

.selectButton:hover{
    cursor: pointer;
}

.add_card{
    font-size: 24px ;
    font-weight: 800;
    color: rgb(114, 17, 17);
}