.CouponsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    row-gap: 5vw;
    padding: 4vw;
    background-color: bisque;
}


.css-1umw9bq-MuiSvgIcon-root {
    width: 20vw !important;
    height: 20vw !important;
}

.coupon_list__form {
    box-sizing: border-box !important;
    border-radius: 8px;
    display: grid;
    grid-template-areas:
        
        "c_l__title c_l__title c_l__title c_l__title"
        "T T T T"
        "D D D D"
        "A A P P"
        "C C I I"
        "SD SD SD SD"
        "ED ED ED ED"
        "S S S S"
        "R R CL CL";
    row-gap: 2% !important;
    column-gap: 4% !important;
    padding: 10%;
    background-color: rgb(242, 206, 163);

}

.coupon_list__form>* {
    padding: 10px;
    box-sizing: border-box !important;
    width: 100%;
    margin: 0 !important;
}

.coupons_list__grid_title {}

.T {
    grid-area: T;
}

.D {
    grid-area: D;
}

.A {
    grid-area: A;
    margin-right: 30px !important;

}

.P {
    grid-area: P;
}

.C {
    grid-area: C;
}

.I {
    grid-area: I;
}

.SD {
    grid-area: SD;
}

.ED {
    grid-area: ED;
}

.S {
    grid-area: S;
}

.R {
    grid-area: R;
}

.CL {
    grid-area: CL;
}

.coupons_list__grid_title {
    grid-area: c_l__title;
}

.coupons_list__title {
    color: rgb(114, 17, 17);
    font-size: 26px;
    margin-top: 0;
    font-weight: 800;
    text-align: center !important;
}


.coupons_list__errorMessage {
    width: 30vw;
    max-width: 500px;
    text-align: center;
    color: rgb(79, 21, 21);
    margin: auto;
    margin-top: 80px;

}

.coupons_list__customer_errorMessageDiv{
    display: flex;
    justify-content: center;
    width: 92vw;
}

.coupons_list__company_errorMessageDiv{
    display: flex;
    justify-content: center;
}

.coupon_list__select {
    text-align: center;
    background-color: bisque !important;
    color: rgb(114, 17, 17);
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;

}

.coupon_list__select:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgb(79, 21, 21);
    background-color: rgb(79, 21, 21) !important;
    color: rgb(255, 186, 186) !important;
}

.coupon_list__add_coupon {
    font-size: 16px;
    font-weight: 800;
    color: rgb(114, 17, 17);
    padding-bottom: 30%;
    max-width: 400px;
}

.coupon_list__add_coupon:hover {
    color: rgb(255, 186, 186) !important;
}

.coupons_list__buttons {
    font-size: 14px;
    font-weight: 700;
    background-color: bisque;
    color: rgb(114, 17, 17);

}

.coupons_list__input {
    font-size: 14px; 
    background-color: bisque;
    color: rgb(114, 17, 17);
    /* margin-right: 50px !important; */
}

.coupon_list__customer_spinner-container{
    display: flex;
    justify-content: center;
    width: 92vw;
    margin-top: 200px;
}

.coupon_list__company_spinner-container{
    display: flex;
    justify-content: center;
    /* width: 92vw; */
    margin-top: 120px;
}


@media (max-width: 1000px) {
    .CouponsList {
        grid-template-columns: repeat(2, 1fr);
    }

    .coupons_list__input {
        padding-left: initial;
        padding-right: initial;
        margin-right: initial !important;
    }

    .coupons_list__errorMessage{
        /* margin-left: 30vw; */
    }
}


@media (max-width: 768px) {
    .coupons_list__errorMessage {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .coupon_list__form {
        min-height: 600px;
        padding: 8%;
    }

    .coupon_list__select {
        text-align: center !important;
    }

    .coupons_list__input {
        padding-left: initial;
        padding-right: initial;
    }

    .coupon_list__form>* {
        padding: 0 5px 0 5px;
    }

    .CouponsList {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: auto;
    }
}















