.customer_details__no_edit {
    border-radius: 8px;
    width: 50vw;
    padding: 10px;
    margin: auto;
    margin-top: 2vw;
}

.displayGrid {
    display: grid;
    grid-template-areas:
        "T T T T"
        "A A A C"
        "A A A D"
        "P P P P"
        "B B B B"
    ;

    gap: 1vw;
    background-color: rgb(242, 206, 163);
    padding: 1.8vw 3vw 3vw 3vw;
    border-radius: 20px;
}

.Grid_title {
    grid-area: T;
}

.GridA {
    grid-area: A;
}

.GridB {
    max-height: 18vw;
    overflow: scroll;
    grid-area: B;
}

.GridC {
    grid-area: C;
    align-self: self-end;

}

.GridD {
    grid-area: D;
    align-self: self-start;

}

.errorMessage {
    display: inline-block;
    max-width: 50%;
}

.customer_details__buttons {
    font-size: 14px;
    font-weight: 700;
    background-color: bisque;
    width: 80%;
    height: 60%;
    justify-self: center;
}


.customer_details__title {
    color: rgb(114, 17, 17);
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.customer_details__span {
    color: rgb(114, 17, 17);

}

.customer_details__Details {
    font-size: 16px;
    padding: 7px;
    font-weight: 700;
    margin: 5px;
    background-color: bisque;
    color: rgb(114, 17, 17);
    border-radius: 8px;
    text-align: start;
}

.customer_details__summary:hover {
    cursor: pointer;
}

.customer_details__summary_expend {
    font-size: 16px;
    color: black;
}

.customer_details__list {
    color: rgb(114, 17, 17);
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
}


.customer_details__p {
    margin-left: 13%;
}

.customer_details__Grid_P {
    grid-area: P;
}

@media (max-width: 768px) {
    .displayGrid {
        grid-template-areas:
            "T T T T"
            "A A A A"
            "A A A A"
            "C C D D"
            "P P P P"
            "B B B B"
        ;
    }

    .customer_details__no_edit{
        width: 90%;
        max-width: 600px;
    }

    .customer_details__buttons{
        width: 130px;
        height: 40px;
        margin-bottom: 20px;
    }

    .GridB{
        max-height: initial;
    }
}